body {
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

/* ====================================================== */

.block {
    background: #e2e2e2;
    padding: 1px;
    margin: 5px;
    border: 2px solid #939292;
    border-radius: 25px 0px 0px 25px;
    width: 1250px;
    height: 550px;
    overflow: auto;
}

.block-1 {
    max-width: 100px;
    min-width: 275px;
    min-height: 220px;
    max-height: 100px;
    margin: 5px;
    padding: 15px;
    border: 2px solid #979797;
    border-radius: 25px;
    background: rgb(197, 180, 146);
    box-shadow: inset 0 0 5px #979797;
    display: inline-block;
}